@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

.min-h-screen{
    min-height: 100vh;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: crimson;
}

.btn{
    padding: 7px 12px;
    border: 2px solid white;
    color: aliceblue;
    background-color: crimson;
    border-radius: 6px;
    cursor: pointer;
}

.font{

    font-family: 'Lemon', serif;

}

.text-center{
    text-align: center;
}

